body {
    margin: 10px;
    white-space: nowrap;
    background-color: #FFA07A;
}
h1 {
    font-size: 13px;
}
#bkmdate {
    font-size: 15px;
    font-weight: bold;
    display: inline;
}
#linksmsg {
    font-size: 10px;
    font-weight: bold;
}
